body {
    font-family: Arial, sans-serif;
    margin: 40px 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 40px 450px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container img {
    width: 20%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.terms-section p {
    color: black;
}

header .logo-acc {
    max-width: 150px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

h3 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    color: #666;
}

form {
    margin-top: 20px;
}

.terms-section {
    margin-bottom: 20px;
}

.terms-section label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.terms-section input {
    display: none;
}

.terms-section .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}

.terms-section input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.terms-content {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    height: 200px;
    overflow-y: auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

footer p {
    color: #666;
    font-size: 12px;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 300px;
    display: none; 
    z-index: 1000; 
    color: black;
}

.notification.error {
    border: 2px solid #f44336;
}

.notification.success {
    border: 2px solid #4CAF50;
}

.notification .icon {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
    color: black;
}

.notification button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
}
